body { font-family: 'Lucida Grande', Helvetica, sans-serif;
       color: #FFFFCC; background: #2b2313;
       font-size: 11pt; }

body, strong, h1, h2, h3, h4, h5, h6, p, li { color: #FFFFCC; }

p { font-size: 9pt; }

h1, h2, h3, h4, h5, h6, p, li { font-family: 'Lucida Grande', Helvetica, sans-serif; line-height: 105%; }
a, a:active, a:hover, a:visited { color: #FFFFFF; text-decoration: none;
                                  border-bottom: 1px solid rgba(255,255,255,.1); }

#content { margin: 30px 0; }

header * { text-align: center; }
header h1 { font-family: quatro-slab; text-transform: uppercase; font-size: 90pt; }
header h2 { font-weight: bold; }
header h3 { font-weight: bold; }
header .like-button { margin: 20px 0 60px 165px;  }

.section-1 { padding-bottom: 20px; }
.section-1 .facebook { position: relative; z-index: 120; }

.questions { background: url(../images/hero.png) right bottom no-repeat; padding-bottom: 14px; }

div.blog { padding: 20px 0; border-top: 1px solid #FFFFCC;  }
#tumblr { margin-bottom: 30px; }
#tumblr .tumblr-post { margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid rgba(255,255,255,.3); }
#tumblr h2.title { margin-bottom: 20px; }
#tumblr h2 a { border: 0; font-weight: bold; }
#tumblr p { line-height: 130%; width: 80%; }
#tumblr p.permalink { text-align: right; width: 100%; }

div.instagram {  border-top: 1px solid #FFFFCC;  padding: 20px 0; }
div.instagram h3 { padding: 8px 0 12px 80px; background: url(../images/instagram-logo.png) no-repeat; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,.3); }
#instagram .post { padding: 5px; background: white; margin-bottom: 12px; }
#instagram .post img { width: 100%; }
#instagram .post img[align=left] { margin-right: 10px; }

#instagram .post p { margin-bottom: 4px; }
#instagram .post .user { color: black; font-size: 12pt; }
#instagram .post .date,
#instagram .post .caption { display: none; }

#signup { padding: 100px 0; }
#signup .login { border: 0; }
#signup .login img { padding-bottom: 20px; }
#signup .call-to-action { text-align: center; }
#signup .person { text-align: center; }
#signup .person input[type=text] { display: inline; }

#signup .friends { list-style: none; margin: 0; }
#signup .friends li { overflow: hidden; min-height: 50px; }
#signup .friends .picture { width: 50px; height: 50px; 
                            position: absolute; display: block; 
                            border: 0; }
#signup .friends .picture img { border-radius: 25px; vertical-align: -25px; }
#signup .friends .name,
#signup .friends .posting { margin-left: 60px; font-size: 9pt; }
#signup .friends .name { padding-top: 8px; line-height: 20px; font-size: 10pt; 
                         color: #FFFFCC; border: 0; font-weight: bold; }
#signup .friends .posting a { line-height: 105%; display: block; border: 0; }

#twitter { position: relative; top: 30px; z-index: 100; height: 50px; padding-left: 55px; background: url(../images/twitter.png) no-repeat; }
#contact { text-align: right; }

.help_text { font-weight: bold; color: white; }

h1.champcount { text-align: center; padding: 30px 0; }
.blogs h2 { text-align: center; }
.blogs li { text-align: center; }

#signup hr { margin-top: 20px; }

.calendar { text-align: center; }
.calendar img { margin-right: 100px; }
.calendar a { border-bottom: 0; }
.calendar .signage { font-family: quatro-slab; 
	text-transform: uppercase; font-size: 20pt; display: block;
	text-decoration: underline; }

