body { font-family: futura-pt, sans-serif; 
       color: #FFFFCC; background: #1A1600; }

h1, h2, h3, h4, h5, h6, p, li { color: #FFFFCC; 
                                font-family: futura-pt, sans-serif; line-height: 105%; }
a, a:active, a:hover, a:visited { color: #FFFFFF; text-decoration: none;
                                  border-bottom: 1px solid rgba(255,255,255,.1); }

#content { margin: 30px 0; }

header {  }
header * { text-align: center; }
body { visibility: hidden; }
.wf-active body * { visibility: visible; }
header h1 { font-family: quatro-slab; text-transform: uppercase; font-size: 90pt; }
header h2 { font-weight: bold; }
header h3 { font-weight: bold; margin-bottom: 60px; }

.section-1 { padding-bottom: 60px; }

div.seperator { position: absolute; width: 940px; height: 175px;
                left: 10px; bottom: 0; 
                background: url(../images/pattern-1.png) left bottom no-repeat; }

div.blog { padding: 20px 0; }
#tumblr { margin-bottom: 30px; }
#tumblr h2.title { margin-bottom: 20px; }
#tumblr h2 a { border: 0; font-weight: bold; }
#tumblr p { line-height: 130%; font-size: 12pt; }
#tumblr p.permalink { text-align: right; width: 100%; }

div.instagram { padding: 20px 0; }
#instagram .post { padding: 5px; background: white; margin-bottom: 12px; }
#instagram .post img { width: 270px; height: 270px; }
#instagram .post p { margin-bottom: 4px; }
#instagram .post .user { color: black; font-size: 12pt; }
#instagram .post .date,
#instagram .post .caption { display: none; }

footer .signup { padding: 100px 0; }
footer .signup .login { border: 0; }
footer .signup .login img { padding-bottom: 20px; }
footer .signup .call-to-action { text-align: center; }

footer .signup .friends { list-style: none; margin: 0; }
footer .signup .friends img { border-radius: 25px; vertical-align: -25px; margin-right: 6px; }

.help_text { font-weight: bold; color: white; }